<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>
    <form action="/products" method="post">
        <input type="text" name="name" placeholder="name"> <br>
        <input type="text" name="description" placeholder="description"> <br>
        <input type="number" name="price" placeholder="0"> <br>
        <input type="number" name="quantity" placeholder="0"> <br>
        <input type="text" name="category" placeholder="category"> <br>
        <input type="submit">
    </form>
</body>
</html>