<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show product</title>
</head>
<body>
    <a href="/products">Products</a> <br><br>
    <h1><%= product.name %></h1>
    <p><%= product.description %></p>
    <br>
    <a href="/products/<%=product._id%>/edit">Edit product</a> <br>
    <a href="/products/<%=product._id%>/delete">Delete product</a>
</body>
</html>